[submodule "h5-data-updates"]
	path = h5-data-updates
	url = https://github.com/moncla-lab/h5-data-updates.git
[submodule "GenoFLU-multi"]
	path = GenoFLU-multi
	url = https://github.com/moncla-lab/GenoFLU-multi
